<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LASPKI_CONN_STRING" connectionString="Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=laspki_commerce;Data Source=PKIECOMDB_TMP" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
      <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />

    <behaviors>
      <serviceBehaviors >
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="PKI.eBusiness.WMService.WMServiceLibrary.WMService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="PKI.eBusiness.WMService.WMServiceLibraryContracts.IWMService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="16384000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="PELASOrderInfo_WebService_OrderInfo_WebService_Binder" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="services_StorefrontWebServices_Binder" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://165.88.161.141:5556/ws/PKIPediatrix.flows.ProcessPediatrixOrder_WSD/PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port"
              binding="basicHttpBinding" bindingConfiguration="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder"
              contract="WMService.ProcessPediatrixOrder_WSD_PortType" name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port" />
         <endpoint address="http://npsv04.perkinelmer.com:8556/ws/PELASOrderInfo.WebService.OrderInfo_WebService/PELASOrderInfo_WebService_OrderInfo_WebService_Port" binding="basicHttpBinding" bindingConfiguration="PELASOrderInfo_WebService_OrderInfo_WebService_Binder" contract="PKI.eBusiness.WMService.Entities.Stubs.OrderInfo_WebService_PortType" name="PELASOrderInfo_WebService_OrderInfo_WebService_Port" />

      <endpoint address="http://165.88.161.141:8556/ws/services.StorefrontWebServices/services_StorefrontWebServices_Port" binding="basicHttpBinding" bindingConfiguration="services_StorefrontWebServices_Binder" contract="PKI.eBusiness.WMService.Entities.Stubs.StoreFront.StorefrontWebServices_PortType" name="services_StorefrontWebServices_Port" />


    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///d:/Program%20Files/Microsoft%20Visual%20Studio%2010.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="LogToFile" value="true" />
    <add key="LogFileDirectory" value="C:\Log\" />
    <add key="LogSubscribers" value="PKI.eBusiness.WMService.Logger.FileLogger" />
    <add key="LabSystemPrependValue" value="PG200" />
    <add key="LabNumberPrependValue" value="200" />
    <add key="PendingOrderStatusCode" value="50" />
  </appSettings>
</configuration>