<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder" />
                <binding name="BasicHttpBinding_IShopCommerceService" />
                <binding name="services_StorefrontWebServices_Binder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://prsv01.perkinelmer.com:5556/ws/PKIPediatrix.flows.ProcessPediatrixOrder_WSD/PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port"
                binding="basicHttpBinding" bindingConfiguration="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder"
                contract="WMService.ProcessPediatrixOrder_WSD_PortType" name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port" />
            <endpoint address="http://165.88.41.151:8091/ShopCommerceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopCommerceService"
                contract="ShopCommerce.IShopCommerceService" name="BasicHttpBinding_IShopCommerceService" />
            <endpoint address="http://npsv04.perkinelmer.com:5556/ws/services.StorefrontWebServices/services_StorefrontWebServices_Port"
                binding="basicHttpBinding" bindingConfiguration="services_StorefrontWebServices_Binder"
                contract="StoreFrontWebServices.StorefrontWebServices_PortType"
                name="services_StorefrontWebServices_Port" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
