<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PKIPediatrix_flows_ProcessPiedatirxOrder_Binder"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://165.88.161.141:5556/ws/PKIPediatrix.flows:ProcessPiedatirxOrder/PKIPediatrix_flows_ProcessPiedatirxOrder_Port" binding="basicHttpBinding" bindingConfiguration="PKIPediatrix_flows_ProcessPiedatirxOrder_Binder" contract="WMService.ProcessPiedatirxOrder_PortType" name="PKIPediatrix_flows_ProcessPiedatirxOrder_Port"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
