<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore requestTimeout="00:10:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables xdt:Transform="InsertIfMissing">
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44360" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>