<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
    <aspNetCore requestTimeout="00:10:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" xdt:Transform="Replace">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Int" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  </location>
</configuration>